@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");
:root {
  font-family: "Andika", sans-serif;
}
input {
  padding: 5px;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 3px;
}
p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
}

#sidebar {
  height: 100vh;
  width: 75vh;
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
}

#content {
  .contentHead {
    width: 60%;
    margin: 15px;
  }
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.05);

  form {
    background-color: white;
    p[id="passwordError"] {
      font-size: 12px;
      margin-left: 15px;
      margin-bottom: 30px;
    }
    .formHeading {
      padding: 20px 30px 20px 12px;
      font-size: 20px;
    }
    label {
      font-weight: bold;
      font-size: 12px;
    }
    fieldset {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 100px;
      border: none;
    }
    .submitDiv {
      background-color: rgba(0, 0, 0, 0.075);
      a {
        text-decoration: none;
        color: rgb(0, 32, 138);
      }
      button[type="submit"] {
        margin-top: 30px;
        margin-left: 30px;
        padding: 15px;
        background-color: black;
        border-radius: 10px;
        border: none;
        border-style: solid;
        color: white;
        transition: 0.3s;
        font-weight: bold;
      }
      button[type="submit"]:hover {
        background-color: rgb(65, 65, 65);
      }
      button[type="submit"]:active {
        background-color: rgb(99, 99, 99);
      }
      p {
        margin-top: 10px;
        margin-left: 30px;
      }
    }
  }
}
